/* here's some styles for the index I haven't written yet */

body {
  background-color: Khaki;
  font-family: 'Special Elite', "Courier New", monospace;
}


.headline {  
    background-color: powderblue;  
    margin:5px;
    float:left;
    height: 80px;
    width: 75%;
    text-align:center;
    color: white;  
    font-family: 'Righteous', sans-serif; 
    }
    
.summary {
  background-color: tomato;
  width: 35%;
  }   
  
.list {
  background-color: aquamarine; 
  }  
  
.dog-list {
  background-color: CadetBlue;
  }  
  
.dog-list th {
  color: white;
  padding: 5px;
  }  