/* here's some styles for the index I haven't written yet */

body {
  background-color: rgb(237, 235, 166);
  font-family: "Courier New", monospace; 
}


.headline {  
    background-color: powderblue;  
    color: white;  
    font-family: 'Special Elite', "Courier New", monospace;
    }
    
.summary {
  background-color: tomato;
  }   
  
.list {
  background-color: aquamarine; 
  }  
  
.dog-list {
  background-color: CadetBlueb
  }  